body
{
    background-color:darkgray;
}

h1 
{
margin:0 auto;
padding:20px 20px;
color: black;
text-align:center;
font-size: 70px;
text-decoration: underline;
font-style: italic;
}
h2
{
    margin:0 auto;
    padding:20px 20px;
    color: blue;
    font-size: 50px;
    text-decoration: underline;
}
h3
{
    margin:0 auto;
    padding:20px 20px;
    color:greenyellow;
    font-size: 40px
}
img
{
    display:block;
    margin: 0 auto;
    width: 400px; 
    height: 400px; 
    object-fit: cover; 
}


h5
{
    margin:0 auto;
    padding:auto;
    color:rgb(255, 172, 47);
    font-size: 30px;
    font-style: italic;
}

h4
{
    margin:0 auto;
    color: black;
    font-size: 30px;
    text-decoration: underline;
}
h6
{
    visibility: hidden;
    display: none;
}

h7
{
margin:0 auto;
color: black;
font-size: 30px;
text-decoration: underline;
}

a.vertical {
    color: white;
    background-color: #000080;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border: 2px outset #c0c0c0;
    display: block;
    width: 100px;
  }
  a.vertical:hover {
    background-color: #6495ED;
    background-image: url(aqua.jpg);
    border: 2px inset #c0c0c0;
  }

  h8
  {
    margin:0 auto;
    padding:20px 20px;
    color: peru;
    font-size: 20px;
  }

  h9
  {
    margin:0 auto;
    padding:20px 20px;
    color:gray;
    font-size: 20px;
  }

  h10
  {
    margin:0 auto;
    padding:20px 20px;
    color: pink;
    font-size: 20px;
  }
